body{
   margin: 0;
   padding: 0;
   box-sizing: 0;
   height: fit-content;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.first-container{

    background-color: #ACC8E5;
    padding-bottom: 20px;
}

.title_head{
    margin: 0;
    padding: 0;
}
.title_fix{
    margin-left: 50px;
    padding-left: 80px;
    font-size: 20px;
}

.header_text{
    color: rgb(255, 255, 255);
    font-size: 3em;
    margin-left: 50px;
    padding-left: 80px;
}




.second_text{
    margin-left: 50px;
    margin-top: 50px;
    font-size: 1.2em;
    padding-left: 5px;
}
.list{
    padding-left: 50px;
    font-size: 1.2em;
}
.second_finisher{
    margin-left: 50px;
    font-size: 1em;
    font-weight: lighter;
}


.second_container{
    display: flex;
    justify-content:space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}


.second_container_second_part{
    background: rgb(247, 244, 244);
    padding: 5px;
    margin-top: -100px;
}
.form_text{
    font-size: 1.2em;
    margin: 20px;
    
}
.form_input{
    background-color: rgb(235, 223, 223);
    margin: 20px;
    padding: 10px;
}
input{
    width: 80%;
    height: 30px;
}
select{
    width: 80%;
    height: 30px;
}
.submit_button{
    width: 85%;
    height: 30px;
    background-color: rgb(245, 206, 76);
    border: none;
    
}